$helvetica: Helvetica, sans-serif;
$main-font-color: #111111;
$main-content-bg-color: #f4f6f9;
$main-content-padding: 0 20px;
$sidebar-width: 250px;
$sidebar-mini-width: 78px;
$sidebar-bg-color: #11101d;
$main-border-color: #dfeded;
$white: #ffffff;
$dark-grey: #6c6c6c;
$grey: #cccccc;
